
:root, :root.light {
--bodybackground: #f5f5f5;
--background: #fff;
--hintbackground: #f3f3f3;
--fontcolor: #727272;
--fontcolordarker:rgb(61, 70, 80); 
--accentcolor: #f47b6b;
--accentcolor2: #175aad;
--dividercolor: #d6d6d6;
}




:root.dark{
    --bodybackground: #1b1c22; 
    --background: #25262c;
    --hintbackground: #1b1c22;
    --fontcolor: #ffffff60; 
    --fontcolordarker:#fff; 
    --accentcolor: #f47b6b;
    --accentcolor2: #175aad;
    --dividercolor: #ffffff40;
}
    



@keyframes slidein {
    from {top: -100%;}
    25% {top: 30px;}
    75% {top: 30px;}
    to {top: -100%;}
}

html {
    font-family: 'Inria Sans', sans-serif;
    color: var(--fontcolordarker);
}

body {
    background: var(--bodybackground);
}

.hint {
    background: var(--hintbackground);
    color: var(--fontcolor);
    border: 1px solid var(--dividercolor);
    border-radius: 3px;
    font-size: .8rem;
    font-weight: 400;
    padding: 10px;
    width: auto;
    position: relative;
    margin: 10px 0;
    text-align: left;
    display: block;
    line-height: 1.4;
}

.success {
    background: #d9f6d4;
    color: #3cc748;
    border: 1px solid #bcebb4;
    animation: slidein 4s;
    padding: 15px;
}

.error {
    background-color: #ffe4e4;
    color: #E94B50;
    border: 1px solid #f3b7b9;
    animation: slidein 4s;
    padding: 15px;
}

.warning {
    background-color: #fff6e4;
    color: #e98a4b;
    border: 1px solid #ffe0b1;
    animation: slidein 4s;
    padding: 15px;
}

hr {
    background: var(--dividercolor);
    height: 1px;
    width: 100%;
    border: none;
    margin: 10px 0;
}

.box {
    border: 1px solid var(--dividercolor);
    display: flex;
    padding: 15px;
    flex-direction: column;
    border-radius: 10px;
    margin: 0 30px;
    margin-bottom: 25px;
    position: relative;
    background: var(--background);
}

.box:nth-child(1)::after {
    position: absolute;
    content: "1";
    padding: 15px;
    background: var(--accentcolor);
    color: var(--background);
    border-radius: 100%;
    left: -15px;
    top: -15px;
    width: 20px;
    height: 20px;
    font-weight: 700;
    text-align: center;
}

.box:nth-child(2)::after {
    position: absolute;
    content: "2";
    padding: 15px;
    background: var(--accentcolor);
    color: var(--background);
    border-radius: 100%;
    left: -15px;
    top: -15px;
    width: 20px;
    height: 20px;
    font-weight: 700;
    text-align: center;
}

.box:nth-child(3)::after {
    position: absolute;
    content: "3";
    padding: 15px;
    background: var(--accentcolor);
    color: var(--background);
    border-radius: 100%;
    left: -15px;
    top: -15px;
    width: 20px;
    height: 20px;
    font-weight: 700;
    text-align: center;
}

#bugreport {
    padding: 25px;
    background: var(--hintbackground);
    border-top: 1px solid var(--dividercolor);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

 .button {
    position: relative;
    box-sizing: border-box;
    outline: currentcolor none 0px;
    border: 0px none;
    margin: 0px;
    cursor: pointer;
    appearance: none;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.875rem;
    min-width: 64px;
    padding: 15px 16px;
    border-radius: 4px;
    color: #fff;
    background-color: var(--accentcolor);
    transition: .3s;
}

.button > i {
    margin: auto 5px auto 0;
}

.button:hover {
    background-color: var(--accentcolor);
}

input[type=text], input[type=email], input[type=number], select {
    padding: 10px;
    border: 1px solid var(--dividercolor);
    background-color: var(--background);
    box-shadow: none;
    display: block;
    width: 100%;
    box-sizing: border-box;
    color: var(--fontcolordarker);
}

input[type=checkbox] {
    margin-right: 5px;
    cursor: pointer;
}

input:focus, input:hover {
    border-color: var(--accentcolor);
}

textarea {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
}

label {
    display: flex;
      align-items: flex-start;
}

input {
    margin-bottom: 5px;
}

label, h1, h2, p {
    font-family: 'Inria Sans', sans-serif;
    margin-bottom: 5px;
    color: var(--fontcolordarker)
}

h2 {
    font-weight: 400;
    padding: 0;
}

p {
    font-weight: 400;
    font-size: .8rem;
    color: var(--fontcolor);
    margin: 5px 0;
}

a.link {
    text-decoration: dotted;
    color: var(--accentcolor);
    font-weight: 400;
    font-size: .8rem;
    cursor: pointer;
}

label {
    font-weight: 500;
}

#medias {
    list-style: none;
    padding: 15px 0;
    margin: 0;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr ; 
    gap: 20px 20px; 
}

#borderstyles {
    list-style: none;
    padding: 15px 0;
    margin: 0;
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ; 
    gap: 10px 10px; 
}

#customcolors {
    list-style: none;
    padding: 15px 0;
    margin: 0;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 10px 10px; 
}

#export {
    width: 100%;
    border: 1px solid var(--dividercolor);
    background-color: var(--background);
    color: var(--fontcolordarker);
    min-height: 400px;
}

button {

    position: relative;
    box-sizing: border-box;
    outline: currentcolor none 0px;
    border: 0px none;
    margin: 0px;
    cursor: pointer;
    appearance: none;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.875rem;
    min-width: 64px;
    padding: 15px 16px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    background-color: var(--accentcolor);
    }

#morestyles {
    text-decoration: none;
    padding: 10px 0;
}

#morestyles i {
    margin-right: 5px;
    font-size: .6rem;
}

button, input {
    border-radius: 3px;
}

button:hover {
    border-color: var(--accentcolor);
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 45px 45px 150px 45px;
}

.wrapper > div {
    flex: 1;
}

#notification {
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    top: -100%;
    width: 50%;
    left: 0;
    right: 0;
    margin: auto;
    position: fixed;
    z-index: 3;
}

#notification > i,
.hint > i {
    padding-right: 15px;
    font-size: 1.3rem;
    vertical-align: sub;

}

#socialmedialistdata {
    border: 1px solid var(--dividercolor);
    background: var(--hintbackground);
    padding: 15px;
    position: relative;
    z-index: 0;
}

 #socialmedialistdata > #hint {
    content: "";
    text-align: center;
    color: var(--fontcolor);
    position: absolute;
    width: 100%;
    height: 60%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
    font-size: 0.85rem;
    font-style: italic;
    pointer-events: none;
    z-index: -1;

}
 
.expander {
    background-color: #d46a5ccc;
    padding: 10px;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 15px;
    opacity: 0;
    z-index: 1;
    border-radius: 10px;
    pointer-events: none;
    transition: .2s;
    text-align: center;
}

.expandme {
    position: relative;
}

.expandme:hover .expander {
    opacity: 1;
    pointer-events: all;
}

.show {
    height: 100% !important;
    pointer-events: all !important;
    opacity: 1 !important;
    transition: 0.3s ease-in;
}

.setown {
    height: 0;
    pointer-events: none;
    opacity: 0;
    transition: 0.3s ease-out;
}

.popupcontainer {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    background: #33333311;
    z-index: 3;
}

.popup {
    min-height: 15%;
    width: 35%;
    background-color: var(--background);
    border: 1px solid var(--dividercolor);
    padding: 20px;
    margin: auto;
    border-radius: 5px;
}

#update{
    position: relative;
} 

#update::before {
    content: "3";
    right: -9px;
    top: -9px;
    padding: 8px;
    border-radius: 100%;
    text-align: center;
    position: absolute;
    color: #fff;
    background: rgb(172, 39, 57);
    z-index: 1;
    height: 10px;
    width: 10px;
    font-size: 10px;
    border: 2px solid #fff;
}

.tab {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  
  .tab li label  {
    padding: 7px;
    font-weight: 400;
    cursor: pointer;
    border: 1px solid var(--dividercolor);
    display: inline-block;
    margin: 0;
    font-size: .8rem;
  }

  .tab li label i {
    margin-right: 5px;
  }
  
  .tab li + li label {
    border-left: 0;
  }
  
  .tab li:first-child label {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  
  .tab li:last-child label {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: 0px;
  }
  
  .tab input[type="radio"] {
    opacity: 0;
    display: none;
    margin: 0;
  }
  
  .tab input[type="radio"]:checked + label {
    background: var(--accentcolor);
    color: #fff;
  }
  
  .tab input[type="radio"]:not(:checked) + label {
    background: transparent;
  }
  
  .tab label:hover {
    background: var(--hintbackground) !important;
    color: var(--fontcolor)
  }

  .tab label {
      transition: .3s;
  }

  .fab-group {
    position: fixed;
    right: 50px;
    bottom: 50px;
    display: flex;
    flex-direction: row;

}

.fab-group .fab  {
    margin: 5px;
    border-radius: 50px;
    height: 15px;
    padding: 15px;
    background: var(--accentcolor);
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-family: 'Inria Sans', sans-serif;;
    box-shadow: -9px -1px 15px -6px rgba(0,0,0,0.41);
    cursor: pointer;
    transition: .2s;
     -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.fab-group .fab:hover {
    transform:translate(0,-5px)
}

.fab-group .fab i  {
    margin: 0 5px;
    color: #fff;
    font-size: 1.0rem;
}

#codelib {
    transition: .4s;
    pointer-events: none;
    left: -100%;
}

#codelib.active {

    pointer-events: all;
    left: 0;
}

.listcontainer {
    position: fixed;
    left: 0;
    height: 100%;
    width: 50%;
    top: 0;
    background-color: var(--background);
    box-shadow: 4px 1px 15px -6px rgb(0 0 0 / 41%);
    z-index: 99;
}

.listcontainer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.listcontainer ul li {
    list-style: none;
    padding: 15px;
    background: var(--background);
    cursor: pointer;
}

.listcontainer ul li + li {
    border-top: 1px solid var(--dividercolor);
}

.listcontainer ul li:nth-child(even){
    background-color: var(--hintbackground);
}

#listcontainerhead {
    display: flex;
    flex-direction: row;
    padding: 15px;
    border-bottom: 2px solid var(--dividercolor);
}

#listcontainerhead #closelistcontainer {
    margin: 0 0 auto auto;
    width: 15px;
    height: 15px;
    padding: 8px 10px 10px 10px;
    text-align: center;
    border: 1px solid var(--dividercolor);
    border-radius: 3px;
    transition: .3s;
    cursor: pointer;
}

#closelistcontainer:hover {
    background: var(--bodybackground);
}

#load-code {
    background: var(--accentcolor2);
}

#savecode {
    margin: 10px 0;
    padding: 10px;
    text-align: center;
    font-style: 1rem;
}

#savecode i {
    margin-right: 5px;
}

.socialmedialist {
    display: flex;
    justify-content: center;
    text-align: center;
}

.tag {
    border-radius: 50px;
    font-size: .5rem;
    padding: 4px 8px;
    border: 1px solid var(--dividercolor);
    background-color: var(--hintbackground);
    color: var(--fontcolor);
    text-transform: uppercase;
    display: inline-block;
    margin: 5px 0 5px 0;
}

.tag i {
    margin-right: 4px;
}

.tag +.tag {
    margin-left: 5px;
}

.styleingtag {
    color: #fff;
    background-color: var(--accentcolor);

}

